<%= link_to "Home", "/"%>
<%= link_to "Boba Shops", "/boba_shops"%>
<%= link_to "Drinks", "/drinks"%>
<%= link_to "Restaurants", "/restaurants"%>
<%= link_to "Pastas", "/pastas"%>

<h1><%= link_to "#{@restaurant.name} Pasta Menu", "/restaurants/#{@restaurant.id}" %></h1>

<% @restaurant_pastas.each do |pasta| %>
  <h3><%= pasta.name %></h3>
  Pasta ID: <%= pasta.id %><br/>
  Restaurant ID: <%= pasta.restaurant_id %><br/>
  Created at: <%= pasta.created_at %><br/>
  Updated at: <%= pasta.updated_at %><br/>
  Vegan: <%= pasta.is_vegan %><br/>
  Price: <%= pasta.price %><br/>
<%end%>
<br/>
<%= link_to 'Add a pasta', "/restaurants/#{@restaurant.id}/pastas/new" %>
