<%= link_to "Home", "/"%>
<%= link_to "Boba Shops", "/boba_shops"%>
<%= link_to "Drinks", "/drinks"%>
<%= link_to "Restaurants", "/restaurants"%>
<%= link_to "Pastas", "/pastas"%>

<h1><%= link_to "#{@restaurant.name} Pasta Menu", "/restaurants/#{@restaurant.id}" %></h1>
<%= link_to "Sort By Pasta Name", "/restaurants/#{@restaurant.id}/pastas?sort=true" %><br>
<%= form_with url: "/restaurants/#{@restaurant.id}/pastas", method: :get, local: true do |form| %>
  <%= form.label :price, "Only Return Records That Cost More Than:" %>
  <%= form.number_field :price, min: 0, step: 0.01, in: 0.00..99.99 %><br/><br/>
  <%= form.submit "submit" %>
<% end %>

<% @restaurant_pastas.each do |pasta| %>
  <h3><%= pasta.name %></h3>
  Pasta ID: <%= pasta.id %><br/>
  Restaurant ID: <%= pasta.restaurant_id %><br/>
  Created at: <%= pasta.created_at %><br/>
  Updated at: <%= pasta.updated_at %><br/>
  Vegan: <%= pasta.is_vegan %><br/>
  Price: <%= pasta.price %><br/>
<%end%>
<br/>

<%= link_to 'Create Pasta', "/restaurants/#{@restaurant.id}/pastas/new" %>
