<h1><%= @boba_shop.name %>'s drinks</h1>

<% @drinks.each do |drink| %>
  <h3><%= drink.name %></h3>
  <p>Drink ID: <%= drink.id %></p>
  <p>Store ID: <%= drink.boba_shop_id %></p>
  <p>Created at: <%= drink.created_at %></p>
  <p>Updated at: <%= drink.updated_at %></p>
  <p>In stock?: <%= drink.in_stock %></p>
  <p>price: <%= drink.price %></p>
<% end %>
