<h1>Welcome to Relational Rails</h1>

<ul>
  <li><%= link_to "Boba Shops", "/boba_shops"%></li>
  <li><%= link_to "New Boba Shop", "/boba_shops/new" %></li>
  <li><%= link_to "Drinks", "/drinks"%></li><br>
  <li><%= link_to "Restaurants", "/restaurants"%></li>
  <li><%= link_to "New Restaurants", "/restaurants/new" %></li>
  <li><%= link_to "Pastas", "/pastas"%></li>
</ul>