<%= link_to "Home", "/"%>
<%= link_to "Boba Shops", "/boba_shops"%>
<%= link_to "Drinks", "/drinks"%>
<%= link_to "Restaurants", "/restaurants"%>
<%= link_to "Pastas", "/pastas"%>

<h1>All Boba Shops</h1>
<%= link_to "New Boba Shop", "/boba_shops/new" %>

<% @boba_shops.each do |boba_shop| %>
  <h3><%= link_to boba_shop.name, "/boba_shops/#{boba_shop.id}" %></h3>
  <%= link_to "Update #{boba_shop.name}", "/boba_shops/#{boba_shop.id}/edit" %><br><br>
  Created at: <%= boba_shop.created_at %><br>
<% end %>
