<%= link_to "Home", "/"%>
<%= link_to "Boba Shops", "/boba_shops"%>
<%= link_to "Drinks", "/drinks"%>
<%= link_to "Restaurants", "/restaurants"%>
<%= link_to "Pastas", "/pastas"%>

<br>
<h1>New Boba Shop</h1>
<%= form_with url: "/boba_shops", method: :post, local: true do |form| %>
  <%= form.label :name %><br>
  <%= form.text_field :name %><br><br>
  <%= form.label :drive_thru, "Drive Thru?" %><br>
  <%= form.radio_button :drive_thru_true, true %>
  <%= form.label :true, "Yes" %>
  <%= form.radio_button :drive_thru_false, false %>
  <%= form.label :false, "No" %><br><br>
  <%= form.label :capacity %><br>
  <%= form.number_field :capacity, in: 10..50 %><br><br>
  <%= form.submit "Create New Boba Shop" %>
<% end %>