<%= link_to "Home", "/"%>
<%= link_to "Boba Shops", "/boba_shops"%>
<%= link_to "Drinks", "/drinks"%>
<%= link_to "Restaurants", "/restaurants"%>
<%= link_to "Pastas", "/pastas"%>

<h1>Update Restaurant</h1>
<%= form_with url: "/restaurants/#{@restaurant.id}", method: :patch, local: true do |form| %>
  <%= form.label :name, "Restaurant Name" %>
  <%= form.text_field :name%><br/><br/>
  <%= form.label :delivery, "Delivery Available?" %>
  <%= form.check_box :delivery %><br/><br/>
  <%= form.label :michelin_stars, "Number of Michelin Stars" %>
  <%= form.number_field :michelin_stars, in: 0..3 %><br/><br/>
  <%= form.submit "Update Restaurant" %>
<% end %>
