<%= link_to "Home", "/"%>
<%= link_to "Boba Shops", "/boba_shops"%>
<%= link_to "Drinks", "/drinks"%>
<%= link_to "Restaurants", "/restaurants"%>
<%= link_to "Pastas", "/pastas"%>

<h1>Restaurants</h1>

<ul><% @restaurants.each do |restaurant| %>
  <li><%= link_to restaurant.name, "/restaurants/#{restaurant.id}" %> - Created at: <%= restaurant.created_at %></li>
<% end %></ul>

<%= link_to "New Restaurant", "/restaurants/new"%>
