<%= link_to "Home", "/"%>
<%= link_to "Boba Shops", "/boba_shops"%>
<%= link_to "Drinks", "/drinks"%>
<%= link_to "Restaurants", "/restaurants"%>
<%= link_to "Pastas", "/pastas"%>

<h1>Restaurants</h1>
<% @restaurants.each do |restaurant| %>
  <h3><%= link_to restaurant.name, "/restaurants/#{restaurant.id}" %></h3>
  - Created at: <%= restaurant.created_at %><br/>
  <%= link_to "Update #{restaurant.name}", "/restaurants/#{restaurant.id}/edit" %><br/>
  <%= link_to "Delete #{restaurant.name}", "/restaurants/#{restaurant.id}", method: :delete %><br/>
<% end %>

<br/><%= link_to "New Restaurant", "/restaurants/new"%>
