<a href="/restaurants">Restaurant Index</a>

<h1><%= @restaurant.name %></h1>

<p> Created at: <%= @restaurant.created_at %></p>
<p> Updated at: <%= @restaurant.updated_at %></p>
<p> Delivery available: <%= @restaurant.delivery %></p>
<p> Number of Michelin Stars: <%= @restaurant.michelin_stars %></p>

<a href="/restaurants/<%= @restaurant.id %>/edit">Edit</a>
