<%= link_to "Home", "/"%>
<%= link_to "Boba Shops", "/boba_shops"%>
<%= link_to "Drinks", "/drinks"%>
<%= link_to "Restaurants", "/restaurants"%>
<%= link_to "Pastas", "/pastas"%>

<h1><%= @restaurant.name %></h1>

<p> Restaurant ID: <%= @restaurant.id %></p>
<p> Created at: <%= @restaurant.created_at %></p>
<p> Updated at: <%= @restaurant.updated_at %></p>
<p> Delivery available: <%= @restaurant.delivery %></p>
<p> Number of Michelin Stars: <%= @restaurant.michelin_stars %></p>
<p> Pasta count: <%= @restaurant.pasta_count %></p>

<%= link_to "Update Restaurant", "/restaurants/#{@restaurant.id}/edit" %><br/>
<%= link_to "Delete Restaurant", "/restaurants/#{@restaurant.id}", method: :delete %><br/>
<%= link_to "Add Pasta to Menu", "/restaurants/#{@restaurant.id}/pastas/new" %><br/>
<%= link_to "Pasta Menu", "/restaurants/#{@restaurant.id}/pastas" %>
