<%= link_to "Home", "/"%>
<%= link_to "Boba Shops", "/boba_shops"%>
<%= link_to "Drinks", "/drinks"%>
<%= link_to "Restaurants", "/restaurants"%>
<%= link_to "Pastas", "/pastas"%>

<h1>All Pastas</h1>

<% @pastas.each do |pasta| %>
  <h3><%= link_to pasta.name, "/pastas/#{pasta.id}" %></h3>
  Pasta ID: <%= pasta.id %><br/>
  Restaurant ID: <%= pasta.restaurant_id %><br/>
  Created at: <%= pasta.created_at %><br/>
  Updated at: <%= pasta.updated_at %><br/>
  Vegan: <%= pasta.is_vegan %><br/>
  Price: <%= pasta.price %><br/>
  <%= link_to "Update #{pasta.name}", "/pastas/#{pasta.id}/edit" %><br/>
  <%= link_to "Delete #{pasta.name}", "/pastas/#{pasta.id}", method: :delete %><br/>
<%end%>
